* {
  margin: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
  font-size: larger;
  font-weight: 600;
  color: white;
  background-image: url('/src/images/background.jpg');
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header h1 {
  text-align: center;
  padding-top: 30px;
}
header a {
  padding: 20px;
}
header a:hover {
  text-decoration: underline;
}

.description {
  text-align: center;
  padding: 20px 20px 10px 20px;
}
