.dropdown-footer {
  font-size: larger;
  font-weight: 600;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  width: 100%;
  background-color: rgb(247, 242, 238);
  color: rgb(92, 54, 31);
  text-align: center;
}

.dropdown {
  margin-left: 20px;
  background-color: rgb(247, 242, 238);
  border-style: hidden;
  font-size: large;
  color: rgb(92, 54, 31);
}
