.header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  font-weight: 600;
  color: white;
  background-image: url("./images/background.jpg") ;
  border: 1px solid white;
  width:100%;
  
}
.header a {
  text-decoration: none;
  color: inherit;
}

.header h1 {
  text-align: center;
}
.description {
  text-align: center;
}

.menuBar {
  color:rgb(92, 54, 31) ;
  padding: 15px;
  background-color: rgb(247, 242, 238);
  width: 100%;
  overflow: hidden;
  text-align: center;
}


.menuBar a {
  padding:15px 20px;
  text-align: center;
  }

  .menuBar a:hover {
  background-color: rgb(167, 144, 125);
  }

  .menuBar a.active {
    background-color: rgb(157, 104, 61);
  }
  